name: Run Python unittests

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout GitHub workspace
        uses: actions/checkout@v2

      - name: Install python, activate venv, install dependencies, & run tests
        run: |
          ./setup.sh
          run: ./runtests.sh
